/*.suo
/Ankh.Load
/Dawn of Light.resharper.user
/Ophyr.sln
/Storm.sln
/_ReSharper.Dawn of Light
/auto_version
/[dD]ebug
/no_versionning
/obj
/[rR]elease
/Dawn of Light - Working.sln
/Dawn of Light.sln.cache
/desktop.ini
/_patches
/.sonar
/DOLBase/.sonar
/DOLConfig/.sonar
/DOLDatabase/.sonar
/DOLServer/.sonar
/GameServer/.sonar
/sonar-project.properties
/sonar-runner.bat
/sys$command
/UnitTests/.sonar
/UnitTests/obj
/GameServerScripts/.sonar
/.vs
/[pP]ackages
/[bB]uild
/*.user
/nuget.exe
/Debug.zip

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
=======
.idea/
/Net5
